
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-show{
    height: 400px;
    width: 400px;
    border: 1px solid red;
}